<li>
  <article class="snippet">
    <img
      class="snippet__image"
      src="{{ post.data.image }}"
      alt="{{ post.data.imageAlt }}"
    />
    <h3 class="snippet__title">{{ post.data.title }}</h3>
    <p class="snippet__meta">
      by {{ post.data.author }} on {{ post.date | postDate }}
    </p>
    <p class="snippet__body">{{ post.data.description }}</p>
    <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
  </article>
</li>
